.sidebarContainer {
  @apply
    h-full
    transition-all
    duration-300
    bg-slate-900
    text-white p-4
}

.sidebarContainerOpen {
  @apply
    w-[100%]
    text-2xl
    text-center
    absolute
    top-0
    left-0
    z-10
    sm:w-[15%]
    sm:text-base
    sm:text-left
    sm:sticky
}

.sidebarHeader {
  @apply
    flex
    items-center
    justify-between
    w-full
}

.buttonSidebar svg {
  @apply text-blue-500
}

.sidebarContent {
  @apply
    py-[15px]
}

.sidebarContent nav {
  @apply
    flex
    flex-col
    gap-[15px]
}

.navExpanded a {
  @apply
    flex
    gap-[5px]
    hover:text-blue-500 hover:cursor-pointer
}

.navIcons a {
  @apply
    hover:cursor-pointer
    hover:text-blue-500
}