.sidebarContainer {
  @apply
    h-full
    transition-all
    duration-300
    bg-slate-900
    text-white p-4
}

.sidebarContainerOpen {
  @apply
    w-[100%]
    text-2xl
    text-center
    absolute
    top-0
    left-0
    z-10
    sm:w-[15%]
    sm:text-base
    sm:text-left
    sm:sticky
}